<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Game_Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <Game_Clicker.Properties.Settings>
      <setting name="nickname" serializeAs="String">
        <value />
      </setting>
      <setting name="ClickScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HitScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MissScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GameMode" serializeAs="String">
        <value />
      </setting>
      <setting name="PixelsScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TimeUse" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nicknameLast" serializeAs="String">
        <value />
      </setting>
      <setting name="ClickScoreLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HitScoreLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MissScoreLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GameModeLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PixelsScoreLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nicknameBest" serializeAs="String">
        <value />
      </setting>
      <setting name="ClickScoreBest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HitScoreBest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MissScoreBest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GameModeBest" serializeAs="String">
        <value />
      </setting>
      <setting name="PixelsScoreBest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeBest" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Accuracy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccuracyLast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccuracyBest" serializeAs="String">
        <value>0</value>
      </setting>
    </Game_Clicker.Properties.Settings>
  </userSettings>
</configuration>

